include AUTHORS.rst
include CHANGELOG.rst
include README.rst
recursive-include jmbo_registration/fixtures *
recursive-include jmbo_registration/locale *
recursive-include jmbo_registration/management *
recursive-include jmbo_registration/migrations *
recursive-include jmbo_registration/static *
recursive-include jmbo_registration/templates *
recursive-include jmbo_registration/templatetags *
