include AUTHORS.rst
include CHANGELOG.rst
include README.rst
recursive-include registration/fixtures *
recursive-include registration/locale *
recursive-include registration/management *
recursive-include registration/migrations *
recursive-include registration/static *
recursive-include registration/templates *
recursive-include registration/templatetags *
